*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

header{
    min-height: 70px;
    
    margin: 0rem 0rem 1rem 0rem;
    background-color: #22305C;
    padding: 2rem 1rem;
    
}

#navBar{
    display: flex;
    justify-content: space-between;
    gap: 20px;
    transition: 3s ease;
}


details{
    color: #fff;
    text-decoration:none;
    
}


.links li{
    list-style: none;
    
}


.links{
    display: flex;
    justify-content: space-around;
    gap: 80px;
    
}

.links a:hover{
    opacity: 0.5;
    text-decoration: underline;
    cursor: pointer;
    
}


.links a {
    color: #fff;
    text-decoration:none;
    font-size: larger;
    
}


.action-links a{
    background-color: #22305C;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    margin: 4rem 0.5rem 2rem 0rem;
    padding: 10px;
    text-decoration: solid;
}

.action-links a:hover{
    text-decoration: underline;

}

body{
    background: #E7E6E1;
    font-family: Arial, Helvetica, sans-serif;
    
}

body h2{
    color:#22305C;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 15px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

body h3{
    color:#22305C;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 15px;
    margin-bottom: 15px;

}

#Image img{
    width: 100%;
    height:50%;
}
#About{
    margin: 4rem 2rem;
}
#About p{
    margin-top: 20px;

}

#Values{
    margin: 4rem 2rem;

}

#Values .abbreviation{
    color:#22305C;
    font-weight: bold;
    font-size: x-large;
    
}

#Values .abbreviation span{
    color: #000;
}

#Visitor{
    margin: 4rem 2rem;
}

form{
    padding-left: 40%;
    padding-right: 40%;
    background-color: #fff;
    border-radius: 12px;
    border-color: #22305C;
    border-style: dashed;
    min-width:400px;
    max-width: 100%;
    padding: 20px;
    color: #22305C;
    margin: 0rem;
    /*
    comment    
    */
}

input{
    border: none;
    border-bottom: #22305C solid;
    display: block;
    margin-bottom: 1rem;
    padding-right: 3rem;
    outline: none;
    
}

input:hover, textarea:hover {
    opacity: 0.5;
}


#Testimonial{
    margin: 4rem 2rem;
    
} 




footer {
    background-color: #AA6972;
    display: block;
    padding: 2rem;
    color: #fff
    
}


footer .text{
    text-align: center;
}

footer .footer-links{
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

footer a:hover{
    opacity: 0.5;
}
footer img{
    max-width: 60px;
    max-height: 60px;
}

footer .shun{
    text-align: center;
    display: block;
}


.shun a{
    color: #fff;
    text-decoration: none;
    align-items: center;
    
}

.shun a:hover{
    color: #fff;
    text-decoration: underline;
}
