@font-face {
    font-family: ;
    src: url();
}

.header{
    display:flex;
}
.links {
    font-size: medium;
}

.links a {
    color:#22305C;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    display: inline;
    text-decoration:none;
    font-size: 200%;
    padding-top: -50px;
    padding-right: 40px;
    text-align: center;
}

.action-links a{
    background-color: #22305C;
    color:#fff;
    display: inline-block;
    text-decoration:none;
    font-size: 200%;
    padding: 10px;
    text-align: center;
    
}

body{
    background: #E7E6E1;
    font-family: Arial, Helvetica, sans-serif;
}

body h2{
    color:#22305C;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#Image img{
    width: 99%;
}

#About Us {
    color: red;

}

#Values{
    color: #000;
    

}

#Values .abbreviation{
    color:#22305C;
    font-weight: bold;
    font-size: x-large;
    
}

#Values .abbreviation span{
    color: #000;
}

form{
    background-color: aliceblue;
    border-radius: 2%;
    border-color: #22305C;
    border-style: dashed;
    padding: 20px;
    color: #22305C;
}

footer {
background-color: #AA6972;
display: block;
text-align: center;
padding: 3px;
color: #fff
}

.shun a{
    color: #fff;
}
